<div class="modal fade" id="winner">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Winner!</h4>
      </div>
      <div class="modal-body">
        <p> You have found it!<p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="heat" id="heat">
  <div class="num" id="num"></div>
  <div class="help">metres away</div>
</div>

<div id="pano" class="panorama"></div>
<div id="endpoint">
    <div id="lat">
      <%=@endpoint.lat%>
    </div>
    <div id="lng">
      <%=@endpoint.lng%>
    </div>
    <div id="panoid">
      <%=@endpoint.pano%>
    </div>
</div>
