<div id="map-canvas" style="display:none;"></div>
<div id="pano" class="panorama"></div>
<div id="endpoint">
	<div id="lat">
	  <%=@endpoint.lat%>
	</div>
	<div id="lng">
	  <%=@endpoint.lng%>
	</div>
</div>
