
<!-- Modal -->
<div class="modal fade" id="about-modal">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">About us!</h4>
  </div>
  <div class="modal-body">
    <p>Hide and Street is exactly what it sounds like: Hide and Seek on Google Street View! As a single player you'll be given a random place to find from our database, but other users can set you challenges (either directly through the site, through a variety of social media or simply by sending you the link!). Then, when you play, you'll be given a random starting place (within a certain radius of your goal) and it's your job to try and find the end! All you have to help you is a hot and cold gauge, telling you how far from the end you are. </p>
    <p> This was designed as part of Young Rewired State 2013, by Neena Dugar, Andrew Deniszczyc, Leah Shields, Oliver Johnson, Joel Knowles and Neel Dugar </p>
    <p> We hope you enjoy playing Hide and Street! </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>

</div>
</div>
</div>